@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --gold: #cc9933;
  --bright-gold: #ffcc66;
  --grey: #666666;
  --bright-grey: #999999;
}

html {
  font-family: "Muller", sans-serif;
  background-color: #e5e5e5;
}

a {
  white-space: nowrap;
  font-weight: normal;
  font-size: 16px;
  line-height: 0;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

a:hover {
  cursor: pointer;
  color: yellow;
}

button {
  transition: background-color 0.3s ease, color 0.2s ease-in-out;
}

button:hover {
  cursor: pointer;
  background-color: rgb(150, 167, 167);
  color: yellow;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

.img {
  max-width: 100%;
}

.contener {
  max-width: 1200px;
  margin-right: auto;
  margin-bottom: 70px;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.last-contaner {
  margin-bottom: 19px;
}

.btm {
  color: var(--gold);
  font-size: 16px;
}

.heading {
  font-size: 40px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 25px;
}

/* Header */

.contener-header {
  max-width: 1200px;
  min-height: 184px;
  margin-bottom: 70px;
}

.header-part1 {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.header-part2 {
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: white;
  min-height: 70px;
  min-width: 1200px;
}

.logo {
  margin-right: 40px;
  border-radius: 15px;
  width: 261px;
  height: 54px;
}

.tel {
  margin-right: auto;
  min-width: 164px;
  font-size: 20px;
  color: var(--grey);
}

.cabinet {
  min-width: 126px;
  padding-left: 7px;
  background-image: url("../img/exit.svg");
  background-size: initial;
  background-repeat: no-repeat;
  background-position: top left;
}

.nav {
  display: flex;
  font-size: 16px;
  min-height: 100%;
}

.head-item {
  white-space: nowrap;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #666666;
}

.head-item:first-child {
  margin-left: 45px;
}

.head-item:not(:last-child) {
  margin-right: 45px;
}

.head-item:last-child {
  margin-right: 56px;
}

.connection {
  display: flex;
  align-items: center;
  min-height: 50px;
  border-left: 1px solid #e1e1e1;
}
.head-item-btm {
  padding: 13px 20px;
  border: 1px solid var(--gold);
  box-sizing: border-box;
  border-radius: 10px;
}

.connection-btm:first-child {
  margin-right: 60px;
  margin-left: 80px;
}

.connection-btm:last-child {
  margin-right: 65px;
}

/*special*/

.special-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 540px;
}

.special-card1 {
  position: relative;
  z-index: 1;
  margin-right: 23px;
  width: 573px;
  height: 260px;
  border-radius: 15px;
}

.special-card1::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 0;
  left: 0;
  width: 573px;
  height: 258px;
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
}

.special-card1:first-child {
  margin-bottom: 20px;
}

.maldiv {
  background-image: url("../img/Maldiv.jpg");
  background-repeat: no-repeat;
}

.krit {
  background-image: url("../img/Krit.jpg");
  background-repeat: no-repeat;
}

.special-card2 {
  position: relative;
  z-index: 1;
  width: 573px;
  height: 540px;
  background-image: url("../img/Lux.jpg");
  border-radius: 15px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
}

.special-card2::before {
  position: absolute;
  z-index: -1;
  bottom: 5%;
  left: -5%;
  content: "";
  width: 110%;
  height: 106%;
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
  transform: rotate(-90deg);
}

.text-special {
  margin-left: 40px;
  margin-bottom: 15px;
  max-width: 299px;
  min-height: 80px;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  color: white;
}

.price-special {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: white;
  opacity: 0.8;
}

.text-special2 {
  margin-top: 211px;
  margin-left: 40px;
  margin-bottom: 15px;
  max-width: 299px;
  min-height: 80px;
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  color: white;
}

.price-special2 {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 45px;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: white;
  opacity: 0.8;
}
.detalic-special {
  margin-top: 0;
  margin-left: 40px;
  margin-bottom: 41px;
  line-height: 0;
}

.detalic-special2 {
  margin-top: 0;
  margin-left: 40px;
  padding-top: 0;
  height: 16px;
}

.detalis {
  margin-top: 0;
  margin-bottom: 41px;
  background-image: url("../img/Rectangle2.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 15px;
  line-height: 0;
  color: var(--bright-gold);
}

.detalis::before {
  position: absolute;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*about as*/

.description {
  font-size: 16px;
  line-height: 200%;
  color: #000000;
}

/*services*/

.services {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 743px;
}

.services-card {
  width: 573px;
  min-height: 330px;
  border-radius: 15px;
  background-color: white;
}

.services-card:first-child {
  margin-right: 23px;
  margin-bottom: 23px;
}

.services-card:nth-child(2) {
  margin-right: 23px;
}

.services-card:nth-child(3) {
  margin-bottom: 23px;
}

.cardimg1 {
  padding-top: 191px;
  background-image: url("../img/exlusiv.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  border-radius: 15px;
}

.cardimg2 {
  padding-top: 191px;
  background-image: url("../img/sauna.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  border-radius: 15px;
}

.cardimg3 {
  padding-top: 191px;
  background-image: url("../img/arenda.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  border-radius: 15px;
}

.cardimg4 {
  padding-top: 191px;
  background-image: url("../img/parking.jpg");
  background-repeat: no-repeat;
  background-size: 573px 165px;
  border-radius: 15px;
}

.service {
  margin-left: 45px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  background-image: url("../img/Rectangle.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 15px;
  color: var(--gold);
}

.text-card {
  margin-left: 45px;
  font-size: 16px;
  line-height: 200%;
  color: black;
}

/*excellence стилизован с учетом перегрузки остальные подогнать после шрифтов*/

.excellence {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 643px;
  width: 1170px;
}

.excellence-card {
  width: 275px;
  min-height: 275px;
  background: #ffffff;
  border-radius: 15px;
  margin-bottom: 23px;
}

.excellence-card:not(:last-child) {
  margin-right: 23px;
}

.excellence-card:nth-child(4n) {
  margin-right: 0;
}

.excellence-img {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 45px;
  width: 65px;
  height: 65px;
}

.excellence-text {
  margin-top: 0;
  margin-bottom: 40px;
  margin-left: 45px;
  color: black;
  font-size: 16px;
  line-height: 200%;
}

/*accomadation*/

.accomodation {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  width: 1170px;
  height: 1440px;
}

.accomodation-card {
  width: 374px;
  height: 440px;
  background: #ffffff;
  border-radius: 15px;
}
.accomodation-card:not(:last-child) {
  margin-right: 23px;
}

.accomodation-card:nth-child(3n + 3) {
  margin-right: 0;
}

.accomodation-img {
  width: 374px;
  min-height: 217px;
  border-radius: 15px 15px 0px 0px;
}

.accomodation-card-variant {
  width: 374px;
  min-height: 440px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.accomodation-card-variant::before {
  position: absolute;
  bottom: 7%;
  right: 10;
  content: "";
  width: 440px;
  height: 374px;
  background: linear-gradient(
    90deg,
    rgba(48, 64, 89, 0.84) -2.9%,
    rgba(53, 65, 83, 0) 65.7%
  );
  border-radius: 15px;
  transform: rotate(-90deg);
}

.accomodation-variant-img {
  position: relative;
  background-image: url("../img/varaiant.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 15px;
  width: 374px;
  min-height: 440px;
}

.price {
  display: inline-block;
  margin-top: 36px;
  margin-bottom: 16px;
  margin-left: 45px;
  margin-right: 44px;
  font-size: 16px;
}

.price-strat {
  color: var(--bright-grey);
}

.price-check {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.stars {
  display: inline-block;
}

.stars:not(:last-child) {
  margin-right: 6px;
}

.star {
  width: 14px;
  height: 14px;
}

.hotel {
  margin-top: 0;
  margin-bottom: 16px;
  margin-left: 45px;
  font-size: 16px;
  color: #000000;
}

.location {
  margin-top: 0;
  margin-bottom: 33px;
  margin-left: 45px;
  font-size: 20px;
  color: var(--bright-grey);
}

.room {
  margin-left: 45px;
  padding: 10px 20px;
  border: 1px solid var(--gold);
  box-sizing: border-box;
  border-radius: 10px;
}

.all-variant {
  z-index: 1;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  background-image: url("../img/Rectangle3.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 15px;
  color: #ffffff;
}

.all-variant::before {
  position: absolute;
  z-index: -1;
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/* order */

.toor {
  min-height: 274px;
  background: #e9e9e9;
  border-radius: 15px;
}

.order {
  margin: 0 auto;
  max-width: 1080px;
  min-height: 106px;
  display: flex;
  align-items: center;
  background: #ffffff;
  border-radius: 15px;
}
.order-items {
  padding: 0;
  size: 142px;
  width: 142px;
  min-height: 43px;
  border-right: 1px solid #e1e1e1;
  font-weight: 400;
}

.order-items:not(:last-child) {
  margin-right: 20px;
}

.order-items:first-child {
  margin-left: 28px;
  width: 190px;
}

.order-items:nth-child(2) {
  width: 190px;
}

.order-items:nth-child(3) {
  width: 147px;
}

.order-items:last-child {
  margin-right: 20px;
}

.item-label {
  height: 12px;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
}

.item-list {
  padding-top: 15px;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

.city {
  padding: 0;
  padding-top: 15px;
  margin-right: 20px;
  width: 89%;
}

.country {
  padding: 0;
  padding-top: 15px;
  margin-right: 20px;
  width: 89%;
}

.date {
  padding: 0;
  padding-top: 15px;
  margin-right: 20px;
  width: 90%;
}

.night {
  padding: 0;
  padding-top: 15px;
  margin-right: 24px;
  width: 80%;
  border-bottom: 1px solid #e1e1e1;
}

.toorist {
  padding: 0;
  padding-top: 15px;
  margin-right: 5px;
  width: 80%;
  border-bottom: 1px solid #e1e1e1;
}

.form-btm {
  margin-right: 28px;
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid var(--gold);
  box-sizing: border-box;
  border-radius: 10px;
}

/*contact*/

.contaner-contact {
  background-image: url("../img/Layer.jpg");
  background-repeat: no-repeat;
  background-size: 653px 528px;
  background-position: 471px center;
  background-color: white;
  border-radius: 15px;
}

.contacts {
  padding-top: 44px;
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  max-width: 375px;
  min-height: 618px;
}

.head-contact {
  margin-top: 0;
  display: flex;
  flex-direction: row;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  width: 98px;
  min-height: 20px;
  margin-right: 47px;
}

.content-contact {
  max-width: 229px;
  font-size: 16px;
  line-height: 150%;
}

.content-contaner {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0;
}

.content-contaner:not(:last-child) {
  padding-bottom: 23px;
  margin-bottom: 25px;
  height: 72px;
  border-bottom: 1px solid #c4c4c4;
}

.content-contaner:nth-child(3) {
  height: 122px;
}

.content-contaner:nth-child(4) {
  margin-bottom: 45px;
}

.address {
  font-style: normal;
}

.tel-contact {
  color: var(--gold);
}

.mail-contact {
  color: var(--gold);
}

.descriptoin-mail {
  display: block;
  color: var(--bright-grey);
}

.btm-contacts {
  padding: 27px 29px;
  border: 1px solid var(--gold);
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 46px;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
}

/*footer*/

.footer-content {
  display: flex;
  background-image: url("../img/logoGrey.png");
  background-repeat: no-repeat;
  background-position: 737px bottom;
  background-color: #333333;
  border-radius: 15px;
  color: white;
}

.info {
  margin-left: 52px;
  margin-top: 44px;
  margin-right: 102px;
  max-width: 320px;
}

.company {
  margin: 0;
  font-size: 16px;
  line-height: 190%;
}

.company:not(:last-child) {
  margin-bottom: 43px;
}

.company:last-child {
  margin-bottom: 46px;
}
.company-info {
  margin: 0;
}

.license {
  line-height: 150%;
  color: var(--gold);
}

.feedback {
  display: flex;
  flex-direction: column;
  margin-top: 44px;
  margin-right: 260px;
  max-width: 320px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.feedback-address {
  font-style: normal;
  min-width: 358px;
  margin-bottom: 14px;
}

.feedback-content {
  margin-bottom: 15px;
  margin-right: 250px;
  max-width: 146px;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}

.tel-feedback {
  color: var(--gold);
}

.mail-feedback {
  color: var(--gold);
}
/*
.logo-footer {
  width: 255px;
  height: 255px;
}
*/
.social-list {
  margin-top: 51px;
  margin-right: 51px;
  display: flex;
  flex-direction: column;
}

.social-item {
  margin-bottom: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
}

.soc1 {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/Soc1.svg");
}

.soc2 {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/soc2.svg");
}

.soc3 {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/soc3.svg");
}

.soc4 {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/soc4.svg");
}

.soc5 {
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/soc5.svg");
}
